{% extends 'model-page.html' %}

{% block content %}
    <h2>Agendamentos</h2>
    <a href="evento/">
        <button type="button">Novo evento</button>
    </a>
    <ul>
        {% for evento in eventos %}
            <li>{{ evento.titulo }} - {{ evento.get_data_evento }}</li>
                {% if evento.descricao %}
                    <p>{{ evento.descricao }}</p>
                {% endif %}
                {% if evento.local_evento %}
                    <p><strong>Local:</strong> {{ evento.local_evento }}</p>
                {% endif %}
        {% endfor %}
    </ul>
{% endblock %}