{% extends 'model-page.html' %}

{% block content %}

<h2>{% if evento.id %}
    Editar Evento
    {% else %}
    Novo Evento
    {% endif %}
</h2>
<form action="submit" method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Título do evento:</label>
        <input type="text" class="form-control" name="titulo_evento" value="{{ evento.titulo }}">
    </div>

    <div class="mb-3">
        <label>Data:</label>
        <input type="datetime-local" class="form-control" name="data_evento" rows="3" value="{{ evento.get_raw_data_evento }}"></input>
    </div>

    <div class="mb-3">
        <label>Descrição:</label>
        <textarea class="form-control" name="descricao" rows="3">{% if evento.descricao %}{{ evento.descricao }}{% endif %}</textarea>
    </div>

    <div class="mb-3">
        <label>Local:</label>
        <textarea class="form-control" name="local_evento" rows="3">{% if evento.local_evento %}{{ evento.local_evento }}{% endif %}</textarea>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="/">
        <button type="button" class="btn btn-secondary">Cancelar</button>
    </a>
    <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
</form>

{% endblock %}